<!-- Display a list of all genres - (everyone) -->
<%- include('../partials/header')%>
<div class="container mt-4">
    <% if(Object.keys(genres).length === 0) {%>
        <div class="jumbotron">
            <h1 class="display-4">Oops!</h1>
            <p class="lead">The genre(s) you requested are not in database</p>
            <hr class="my-4">
            <p>Want to explore all genres?</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/genres" role="button">Genres</a>
            </p>
        </div>
    <% } else { %>
        <h1 class="text-center">Genres</h1>
        <ul class="list-group">
            <% genres.forEach((genre, i) => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="/genres/<%=  genre._id %>" ><%= genre.name %></a>
                <span class="badge badge-primary badge-pill"><%= bookCount[i] %> </span>
                </li>
            <% }); %> 
        </ul>
    <% } %>  
    <hr class="my-4">
    <% if(currentReader && currentReader.isAdmin){ %> 
        <a href="/genres/new" class="btn btn-success">Add a Genre</a>
    <% } %> 
</div>
<%- include('../partials/footer')%>