<!-- All the information about a single book, accessible to everyone -->
<%- include('../partials/header')%>
<div class="container d-flex flex-column mt-3">
    <div class="d-flex">
        <div class="card w-50 mr-4">
            <img class="card-img-top" src="<%= book.image %> " alt="<%= book.name %> ">
        </div>
        <div>
            <ul class=" list-group list-group-flush font-weight-bold" style="font-size: larger;">
                <li class="list-group-item text-primary">Name: <%= book.name %></li>
                <li class="list-group-item text-secondary">ISBN: <%= book.isbn %></li> 
                <li class="list-group-item text-success">Qty-available: <%= book.quantity %></li>
                <li class="list-group-item text-warning">Total Issues: <%= book.totalIssues %> </li>
                <% if(currentReader && !currentReader.isAdmin){ %> 
                    <% if(pending){ %> 
                        <li class="list-group-item">
                            <form action="/readers/<%= book._id %>/return" method="POST" class="text-center"></form>
                                <button class="btn btn-success">Return</button>
                            </form>
                        </li>
                    <% }else{ %> 
                        <% let presentInCart = false; %> 
                        <% for(let i=0;i<currentReader.cart.length;i++){ %>
                            <% if(currentReader.cart[i]._id.equals(book._id)){ %> 
                                <% presentInCart = true; break; %> 
                            <% } %> 
                        <% } %> 
                        <% if(presentInCart){ %> 
                            <li class="list-group-item"><button class="btn btn-warning">Added to cart</button></li>
                        <% }else{ %> 
                            <li class="list-group-item">
                                <form action="/readers/<% book._id %>/add-to-cart" method="POST">
                                    <button class="btn btn-success">Add to cart</button>
                                </form>
                            </li>
                        <% } %> 
                    <% } %> 
                <% } %> 
            </ul>
        </div>    
    </div>
    <!-- authors -->
    <hr>
    <h3 class="text-center text-success">Authors</h3>
    <div class="d-flex justify-content-start mb-3" style="display: flex; flex-wrap: wrap;">
        <% authorDetails.forEach(author => { %>
            <div class="col-md-4 col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%= author.image %>" alt="<%= author.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= author.name %></h5>
                        <p class="d-flex flex-row-reverse">
                            <a href="/authors/<%= author.id%>">More Info>></a>
                        </p>
                    </div>
                </div>
            </div>
        <% })%>
    </div>
    <!-- Genres -->
    <h3 class="text-center text-primary">Genres</h3>
    <div class="d-flex mb-3" style="display: flex; flex-wrap: wrap;">
        <% genreDetails.forEach(genre => { %>
            <div class="card">
                <div class="card-body">
                    <a href="/genres/<%= genre.id %>"><%= genre.name %></a> 
                </div>
            </div>
        <% })%>
    </div>

    
    <% if(currentReader){ %> 
        <div class="text-right">
            <a class="btn btn-success btn-lg" href="/books/<%= book._id%>/comments/new">Add New Comments</a>
        </div>
        <hr>
        <% comments.forEach(function(comment){ %>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-warning"><%= comment.author.authorName %></h4>
                    <p class="card-text"><%= comment.text%></p>
                    <% if(comment.author.id.equals(currentReader._id)){ %>
                        <div class="row">
                            <div class="col-md-1 card-link">
                                <a href="/books/<%= book._id%>/comments/<%= comment._id%>/edit" class="btn btn-warning btn-sm">Edit</a>
                            </div>
                            <div class="col-md-3">
                                <form action="/books/<%= book._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST" class="delete-form">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
                
              </div>
            <hr>
        <% }) %>                
    <% } %> 
    <div class="d-flex mb-5 mt-3">
        <% if(currentReader && currentReader.isAdmin){ %> 
            <form action="/books/<%= book._id%>?_method=DELETE" method="POST" class="mr-4">
                <button class="btn btn-danger btn-lg">Delete book</button>
            </form>
            <form action="/books/<%= book._id%>/update" method="GET">
                <button class="btn btn-info btn-lg">Update book</button>
            </form>
        <% } %> 
    </div>
</div>

<%- include('../partials/footer')%>