<!-- Supply chain management, accessible only by admin -->
<%- include('../partials/header')%>
<div class="container-fluid row">
    <div class="col-md-4">
        <h1>Update Quantity of <%= book.name %> </h1>
        <form action="/books/<%= book._id %>/update-qty?_method=PUT" method="POST">
            <div class="form-group">
                <label>Quantity: </label>
                <input class="form-control" type="number" name="quantity" min="0" max="100" value="<%= book.quantity %>">
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
            <button class="btn btn-warning"><a href="/books/<%= book._id %>">Go Back</a></button>
        </form>
    </div>
</div>
<%- include('../partials/footer')%>