<!-- List all authors, paginated, have a search option -->
<%- include('../partials/header')%>
<div class="container mt-4">
    <% if(currentReader){ %> 
        <div class="d-flex justify-content-between">
            <h1 class="text-center text-primary"><%= currentReader.name %></h1>
            <h1 class="text-center text-primary">Balance: <%= currentReader.acc_balance %></h1>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
                <form action="/update-password" method="GET" class="mr-3">
                    <button class="btn btn-warning" type="submit">Update password</button>
                </form>
                <% if(!currentReader.is_verified) { %> 
                    <form action="/regenrate-token" method="GET" class="mt-3">
                        <button class="btn btn-secondary" type="submit">Resend Verfication Mail</button>
                    </form>
                <% } %> 
            </div>
            <div class="d-flex justify-content-end">
                <% if(!currentReader.isAdmin) { %>
                    <a href="/readers/<%= currentReader._id %>/add-money" class="btn btn-success mr-3">Add balance</a>
                <% } %> 
                <form action="/readers/<%= currentReader._id %>/empty-money?_method=PUT" method="POST">
                    <button class="btn btn-danger" type="submit">Withdraw</button>
                </form>
            </div>
        </div>
        <hr>
        <% if(!currentReader.isAdmin){ %> 
            <h1 class="text-center text-warning">Some Transactions: </h1>
            <ul class="list-group">
                <% transactions.forEach((transaction, i) => { %>
                    <li class="list-group-item">
                        <div class="d-flex justify-content-start">
                            <% if(transaction.status == "Borrowed"){ %> 
                                <h3><span class="badge badge-warning badge-pill mr-3"><%= transaction.status %></span></h3>
                                <h3><span class="badge badge-primary mr-3"><%= transaction.borrow_date.toUTCString() %></span></h3>
                                <form action="/readers/<%= transaction.book.id %>/return" method="POST" class="text-center">
                                    <button class="btn btn-success">Return</button>
                                </form>
                            <% }else{ %> 
                                <h3><span class="badge badge-success badge-pill mr-3"><%= transaction.status %></span></h3>
                                <h3><span class="badge badge-light mr-3">Amount Paid: <%= transaction.revenue %></span></h3>
                            <% } %> 
                        </div>
                    </li>
                <% }); %> 
            </ul>
            <a class="btn btn-primary mt-3" href="/readers/<%= currentReader._id %>/transactions">View all transactions</a>
        <% } %> 
        <!-- delete your account -->
        <form action="/readers/<%= currentReader._id %>/delete" method="POST" class="mt-3">
            <button class="btn btn-danger" type="submit">Delete account</button>
        </form>
    <% } %> 
</div>

<%- include('../partials/footer')%>