<!-- List all authors, paginated, have a search option -->
<%- include('../partials/header')%>
<div class="container mt-4">
    <% if(Object.keys(authors).length === 0) {%>
        <div class="jumbotron">
            <h1 class="display-4">Oops!</h1>
            <p class="lead">The author(s) you requested are not in database</p>
            <hr class="my-4">
            <p>Want to explore all authors?</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/authors" role="button">Authors</a>
            </p>
        </div>
    <% } else { %>
        <div class="d-flex justify-content-start" style="display: flex; flex-wrap: wrap;">
            <% authors.forEach(function(author){ %>
                <div class="col-md-4 col-sm-6">
                    <div class="card" style="width: 18rem; margin: 5px;">
                        <img class="card-img-top" src="<%= author.image %>" alt="<%= author.name %>">
                        <div class="card-body">
                            <h5 class="card-title text-center"><%= author.name %></h5>
                            <p class="d-flex flex-row-reverse">
                                <a href="/authors/<%= author._id%>">More Info>></a>
                            </p>
                        </div>
                    </div>
                </div>
            <% })%>
        </div>
    <% } %>  
    <hr class="my-4">
    <% if(currentReader && currentReader.isAdmin){ %> 
        <a href="/authors/new" class="btn btn-success">Add an author</a>
    <% } %> 
    
</div>
<%- include('../partials/footer')%>